<section id="header" class="header style3">
        <div class="container-fluid">
          <div id="logo" class="logo float-left">
            <a href="/home/index.html" title="Yolo">
              정표빵
            </a>
          </div>
          <!-- /.logo -->
          <div class="menu-extra">
            <div class="box-search">
              <span class="icon_search"></span>
              <form action="#" method="get" accept-charset="utf-8">
                <div class="input-search">
                  <input type="text" name="search" placeholder="|Enter Your Search...">
                  <span class="ti-close delete"></span>
                </div>
              </form>
            </div>
            <div class="box-wishlist">
              <a href="#" title=""><span class=" icon_heart_alt"></span></a>
            </div>
            <div class="box-cart">
              <span class="icon_bag_alt"><i class="numb-cart">2</i></span>
              <div class="subcart">
                <ul class="product-choose">
                  <li class="overflow">
                    <div class="img-product float-left">
                      <img src="/images/shop/s-01.jpg" alt="">
                    </div>
                    <div class="info-product float-left overflow">
                      <div class="price">
                        $60.00 x <span>1</span>
                      </div>
                      <div class="name">
                        <a href="#" title="">Kabino Bedside Table</a>
                      </div>
                    </div>
                    <div class="delete">
                      <img src="/images/shop/delete.png" alt="">
                    </div>
                  </li>
                  <li class="overflow">
                    <div class="img-product float-left">
                      <img src="/images/shop/s-02.jpg" alt="">
                    </div>
                    <div class="info-product float-left overflow">
                      <div class="price">
                        $80.00 x <span>1</span>
                      </div>
                      <div class="name">
                        <a href="#" title="">Kabino Bedside Table</a>
                      </div>
                    </div>
                    <div class="delete">
                      <img src="/images/shop/delete.png" alt="">
                    </div>
                  </li>
                </ul>
                <div class="total-cart overflow">
                  <p class="float-left">TOTAL:</p>
                  <p class="float-right">$460.00</p>
                </div>
                <div class="btn-cart">
                  <a href="#" class="view-cart" title="">VIEW CARD</a>
                  <a href="#" class="check-out" title="">CHECK OUT</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.icon-header -->
          <ul class="flat-unstyled float-right">
            <li class="money">
              <a href="#" title="">USD<i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="unstyled border-radius-5 box-shadow">
                <li><a href="#" title="">GBP</a></li>
                <li><a href="#" title="">Euro</a></li>
              </ul>
            </li>
            <li class="login">
              <!-- <a href="#" title="">Login<i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="unstyled border-radius-5 box-shadow">
                <li><a href="#" title="">Sign in</a></li>
                <li><a href="#" title="">Register</a></li>
              </ul> -->
              <%if user_signed_in? %>
                <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to "로그인", new_user_session_path %>
              <% end %>
            </li>
          </ul>
          <!-- /.flat-infomation float-right -->
          <div class="nav-wrap">
            <div class="btn-menu">
              <span></span>
            </div>
            <!-- //mobile menu button -->
            <div id="mainnav" class="mainnav style1">
              <ul class="menu">
                <li class=" has-menu-mega">
                  <a href="/index.html" title="">
                    Home
                  </a>
                  <div class="menu-mega overflow">
                    <ul class="menu-mega-child one-four">
                      <li>
                        <a href="/index.html" title="">Home 01</a>
                      </li>
                      <li>
                        <a href="/index-v2.html" title="">Home 02</a>
                      </li>
                      <li>
                        <a href="/index-v3.html" title="">Home 03</a>
                      </li>
                      <li>
                        <a href="/index-v4.html" title="">Home 04</a>
                      </li>
                      <li>
                        <a href="/index-v5.html" title="">Home 05</a>
                      </li>
                      <li>
                        <a href="/agency-simple.html" title="">Agency Simple</a>
                      </li>
                      <li>
                        <a href="/corporate-agency.html" title="">Corporate Agency</a>
                      </li>
                      <li>
                        <a href="/agency-classic.html" title="">Agency Classic</a>
                      </li>
                    </ul>
                    <!-- /.menu-mega-child one-four -->
                    <ul class="menu-mega-child one-four">
                      <li>
                        <a href="/digital-agency.html" title="">Digital Agency</a>
                      </li>
                      <li>
                        <a href="/business-consulting.html" title="">Business Consulting</a>
                      </li>
                      <li>
                        <a href="/startup-business.html" title="">StartUp Business</a>
                      </li>
                      <li>
                        <a href="/creative-agency.html" title="">Creative Agency</a>
                      </li>
                      <li>
                        <a href="/personal-dark.html" target="_blank" title="">Personal Dark</a>
                      </li>
                      <li>
                        <a href="/personal-white.html" target="_blank" title="">Personal White</a>
                      </li>
                      <li>
                        <a href="/studio.html" target="_blank" title="">Studio</a>
                      </li>
                      <li>
                        <a href="/architecture.html" title="">Architecture</a>
                      </li>
                    </ul>
                    <!-- /.menu-mega-child one-four -->
                    <ul class="menu-mega-child one-four">
                      <li>
                        <a href="/education-online.html" title="">Education Online</a>
                      </li>
                      <li>
                        <a href="/portfolio-masonry-home.html" target="_blank" title="">Portfolio Masonry</a>
                      </li>
                      <li>
                        <a href="/portfolio-textbox-home.html" target="_blank" title="">Portfolio Textbox</a>
                      </li>
                      <li>
                        <a href="/photography-white.html" target="_blank" title="">Photography White</a>
                      </li>
                      <li>
                        <a href="/photography-dark.html" target="_blank" title="">Photography Dark</a>
                      </li>
                      <li>
                        <a href="/photography-fullscreen.html" target="_blank" title="">Photography FullScreen</a>
                      </li>
                      <li>
                        <a href="/photography-thumbnails.html" target="_blank" title="">Photography</a>
                      </li>
                    </ul>
                    <!-- /.menu-mega-child one-four -->
                    <ul class="menu-mega-child one-four">
                      <li>
                        <a href="/video.html" target="_blank" title="">Video</a>
                      </li>
                      <li>
                        <a href="/blog-minimals.html" target="_blank" title="">Blog Minimals</a>
                      </li>
                      <li>
                        <a href="/blog-creative.html" target="_blank" title="">Blog Creative</a>
                      </li>
                      <li>
                        <a href="/shop-minimals.html" title="">Shop Minimal</a>
                      </li>
                      <li>
                        <a href="/shop-minimals-02.html" title="">Shop Minimal02</a>
                      </li>
                      <li>
                        <a href="/shop-minimals-03.html" title="">Shop Minimal03</a>
                      </li>
                      <li>
                        <a href="/shop-metro.html" title="">Shop Funiture Metro</a>
                      </li>
                      <li>
                        <a href="/comming-soon.html" target="_blank" title="">Comming Soon</a>
                      </li>
                    </ul>
                    <!-- /.menu-mega-child one-four -->
                  </div>
                  <!-- /.submenu menu-mega -->
                </li>
                <!-- /.has-menu-mega -->
                <li class="has-submenu">
                  <a href="#" title="">
                    Pages
                  </a>
                  <div class="submenu">
                    <ul>
                      <li>
                        <a href="/about.html" title="">About Company</a>
                      </li>
                      <li>
                        <a href="/about-v2.html" title="">About History</a>
                      </li>
                      <li>
                        <a href="/about-v3.html" title="">About Me</a>
                      </li>
                      <li>
                        <a href="/careers.html" title="">Careers</a>
                      </li>
                      <li>
                        <a href="/careers-single.html" title="">Careers Single</a>
                      </li>
                      <li>
                        <a href="/services-simple.html" title="">Services Simple</a>
                      </li>
                      <li>
                        <a href="/pricing-v1.html" title="">Pricing01</a>
                      </li>
                      <li>
                        <a href="/pricing-v2.html" title="">Pricing02</a>
                      </li>
                      <li>
                        <a href="/pricing-v3.html" title="">Pricing03</a>
                      </li>
                      <li>
                        <a href="/contact-classic.html" title="">Contact Classic</a>
                      </li>
                      <li>
                        <a href="/contact-simple.html" title="">Contact Simple</a>
                      </li>
                      <li>
                        <a href="/contact-creative.html" title="">Contact Creative</a>
                      </li>
                      <li>
                        <a href="/faqs.html" title="">FAQS</a>
                      </li>
                      <li>
                        <a href="/404.html" title="">Error 404</a>
                      </li>
                      <li>
                        <a href="/comming-soon.html" target="_blank" title="">Comming Soon</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- /.has-submenu -->
                <li class="has-submenu">
                  <a href="#" title="">
                    Work
                  </a>
                  <div class="submenu">
                    <ul>
                      <li class="has-submenu-child">
                        <a href="/portfolio-outside01.html" title="">Title OutSide</a>
                        <ul class="submenu-child">
                          <li>
                            <a href="/portfolio-outside01.html" title="">Grid 01 Title Outside</a>
                          </li>
                          <li>
                            <a href="/portfolio-outside02.html" title="">Grid 02 Title Outside</a>
                          </li>
                          <li>
                            <a href="/portfolio-outside03.html" title="">Grid 03 Title Outside</a>
                          </li>
                        </ul>
                      </li>
                      <li class="has-submenu-child">
                        <a href="/portfolio-inside01.html" title="">Title Inside</a>
                        <ul class="submenu-child">
                          <li>
                            <a href="/portfolio-inside01.html" title="">Grid 01 Title Inside</a>
                          </li>
                          <li>
                            <a href="/portfolio-inside02.html" title="">Grid 02 Title Inside</a>
                          </li>
                          <li>
                            <a href="/portfolio-inside03.html" title="">Grid 03 Title Inside</a>
                          </li>
                        </ul>
                      </li>
                      <li class="has-submenu-child">
                        <a href="/portfolio-hover01.html" title="">Title Hover</a>
                        <ul class="submenu-child">
                          <li>
                            <a href="/portfolio-hover01.html" title="">Grid 01 Hover</a>
                          </li>
                          <li>
                            <a href="/portfolio-hover02.html" title="">Grid 02 Hover</a>
                          </li>
                          <li>
                            <a href="/portfolio-hover03.html" title="">Grid 03 Hover</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="/portfolio-masonry.html" title="">Masonry</a>
                      </li>
                      <li>
                        <a href="/portfolio-textbox.html" title="">TextBox</a>
                      </li>
                      <li class="has-submenu-child">
                        <a href="/portfolio-metro03.html" title="">Metro</a>
                        <ul class="submenu-child">
                          <li>
                            <a href="/portfolio-metro03.html" title="">Metro 03</a>
                          </li>
                          <li>
                            <a href="/portfolio-metro04.html" title="">Metro 04</a>
                          </li>
                        </ul>
                      </li>
                      <li class="has-submenu-child">
                        <a href="/portfolio-simple.html" title="">Portfolio Single</a>
                        <ul class="submenu-child">
                          <li>
                            <a href="/portfolio-simple.html" title="">Single Simple</a>
                          </li>
                          <li>
                            <a href="/portfolio-scroll.html" title="">Single Scroll</a>
                          </li>
                          <li>
                            <a href="/portfolio-single-fullwidth.html" title="">Single Fullwidth</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- /.has-submenu -->
                <li class="has-submenu">
                  <a href="#" title="">
                    Blog
                  </a>
                  <div class="submenu">
                    <ul>
                      <li class="has-submenu-child">
                        <a href="/blog.html" title="">Side Bar</a>
                        <ul class="submenu-child">
                          <li>
                            <a href="/blog.html" title="">Standard Layout</a>
                          </li>
                          <li>
                            <a href="/blog-v2.html" title="">1stFull + Grid Layout</a>
                          </li>
                          <li>
                            <a href="/blog-v3.html" title="">Grid Layout</a>
                          </li>
                          <li>
                            <a href="/blog-v4.html" title="">1stFull + List Layout</a>
                          </li>
                          <li>
                            <a href="/blog-v5.html" title="">List Layout</a>
                          </li>
                        </ul>
                      </li>
                      <li class="has-submenu-child">
                        <a href="/blog-v6.html" title="">Full Width</a>
                        <ul class="submenu-child">
                          <li>
                            <a href="/blog-v6.html" title="">Standard FullLayout</a>
                          </li>
                          <li>
                            <a href="/blog-v7.html" title="">1stFull Grid FullLayout</a>
                          </li>
                          <li>
                            <a href="/blog-v8.html" title="">Grid FullLayout</a>
                          </li>
                          <li>
                            <a href="/blog-v9.html" title="">1stFull List FullLayout</a>
                          </li>
                          <li>
                            <a href="/blog-v10.html" title="">List FullLayout</a>
                          </li>
                        </ul>
                      </li>
                      <li class="has-submenu-child">
                        <a href="/blog-single.html" title="">Blog Single</a>
                        <ul class="submenu-child">
                          <li>
                            <a href="/blog-single.html" title="">Blog Single Full Layout</a>
                          </li>
                          <li>
                            <a href="/blog-single-v2.html" title="">Blog Single Sidebar</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- /.has-submenu -->
                <li class="active has-submenu">
                  <a href="#" title="">
                    Shop
                  </a>
                  <div class="submenu">
                    <ul>
                      <li class="active">
                        <a href="#" title="">Shop 03Columns</a>
                      </li>
                      <li>
                        <a href="/shop-v3.html" title="">Shop 05Columns Fullwidth</a>
                      </li>
                      <li>
                        <a href="/shop-v4.html" title="">Shop 06Columns Fullwidth</a>
                      </li>
                      <li>
                        <a href="/shop-v2.html" title="">Shop 04Columns Fullwidth</a>
                      </li>
                      <li>
                        <a href="/shop-v5.html" title="">Shop Sidebar Fullwidth</a>
                      </li>
                      <li>
                        <a href="/shop-single.html" title="">Shop Single</a>
                      </li>
                      <li>
                        <a href="/sign-in.html" title="">Sign_in</a>
                      </li>
                      <li>
                        <a href="/register.html" title="">Register</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- /.has-menu-mega -->
                <li class="has-menu-mega">
                  <a href="#" title="">
                    Elements
                  </a>
                  <div class="menu-mega overflow">
                    <ul class="menu-mega-child one-four">
                      <li>
                        <a href="/page-title.html" title="">Page Titles</a>
                      </li>
                      <li>
                        <a href="/team-member.html" title="">Team Member</a>
                      </li>
                      <li>
                        <a href="/pricings.html" title="">Pricings</a>
                      </li>
                      <li>
                        <a href="/testimonial.html" title="">Testimonials</a>
                      </li>
                      <li>
                        <a href="/icon-boxes.html" title="">IconBoxes</a>
                      </li>
                      <li>
                        <a href="/progress-bar.html" title="">ProcessBar</a>
                      </li>
                    </ul>
                    <!-- /.menu-mega-child one-four -->
                    <ul class="menu-mega-child one-four">
                      <li>
                        <a href="/contact-form.html" title="">ContactForm</a>
                      </li>
                      <li>
                        <a href="/button-style.html" title="">Buttons</a>
                      </li>
                      <li>
                        <a href="/tabs.html" title="">Tabs</a>
                      </li>
                      <li>
                        <a href="/accordions.html" title="">Accordions</a>
                      </li>
                      <li>
                        <a href="/countdowns.html" title="">Count Downs</a>
                      </li>
                      <li>
                        <a href="/counters.html" title="">Counters</a>
                      </li>
                    </ul>
                    <!-- /.menu-mega-child one-four -->
                    <ul class="menu-mega-child one-four">
                      <li>
                        <a href="/call-to-actions.html" title="">Call to Actions</a>
                      </li>
                      <li>
                        <a href="/clients.html" title="">Clients</a>
                      </li>
                      <li>
                        <a href="/columns.html" title="">Columns</a>
                      </li>
                      <li>
                        <a href="/flip-box.html" title="">FlipBox</a>
                      </li>
                      <li>
                        <a href="/google-map.html" title="">Google Map</a>
                      </li>
                    </ul>
                    <!-- /.menu-mega-child one-four -->
                    <ul class="menu-mega-child one-four">
                      <li>
                        <a href="/typography.html" title="">Typography HighLight</a>
                      </li>
                      <li>
                        <a href="/info-box.html" title="">Info Box</a>
                      </li>
                      <li>
                        <a href="/list-styles.html" title="">List Styles</a>
                      </li>
                      <li>
                        <a href="/socials.html" title="">Socials</a>
                      </li>
                      <li>
                        <a href="/dividers.html" title="">Dividers</a>
                      </li>
                    </ul>
                    <!-- /.menu-mega-child one-four -->
                  </div>
                  <!-- /.submenu menu-mega -->
                </li>
                <!-- /.has-menu-mega -->
              </ul>
              <!-- /.menu -->
            </div>
            <!-- /.mainnav -->
          </div>
          <!-- /.nav-wrap -->
          <div class="clearfix"></div>
        </div>
        <!-- /.container-fluid -->
      </section>